/* Google Fonts ---> work-sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");


/* ------------------------
         Variables
--------------------------- */
:root {
  --color-primary: #131313;
  --color-secondary: #727272;
  --color-tertiary: #FF900E;
  --color-bright: #ffffff;
  --color-soft: #FFF4E7;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-regular: 16px;
  --font-size-medium: 20px;
  --font-size-large: 45px;

  --bottom-margin: 130px;
}


/* ------------------------
Universal and Common styles
--------------------------- */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
}

.fixed-width {
  max-width: 1440px;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.description {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-secondary);
  margin: 24px 0 32px 0;
}

.btn-primary {
  background-color: var(--color-tertiary);
  color: var(--color-bright);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semi-bold);
  padding: 20px 24px;
  border: 0;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #eb8512;
}


/* -----------------------
          Header
-------------------------- */
.header {
  background-color: var(--color-soft);
}

/* Navigation bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 675px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.nav-items {
  display: flex;
  column-gap: 48px;
}

.nav-item {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: var(--color-secondary);
}

.nav-item:hover {
  color: var(--color-tertiary);
}

/* Banner Section */
.banner {
  text-align: center;
}

.banner-title {
  font-size: 64px;
  font-weight: var(--font-weight-bold);
}

.banner-img {
  padding: 50px 0;
}
